.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3em;

}


.navbar {
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    justify-content: left;
    margin-left: 7em;
}

.navbar a {
    font-weight: bolder;
    font-size: 1.2em;
}

.title {
    color: #806BE4;
    font-size: 3em;
}

